<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- ändra till /static för flask-->
    <script src="../static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<!-- toolbar start -->
<div id="toolbar">

    <!-- Tabs start -->
     <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button" onclick="openTab('tools')">Tools</button>
        <button class="w3-bar-item w3-button" onclick="openTab('io')">Import / Export</button>
    </div>
    <!-- Tabs stop -->

    <!-- tabs content start -->
    <div id="tools" class="tab">
        <form id="scanForm" method="POST" action="/">
            {{ scan_form.csrf_token }}
            {{ scan_form.address.label }} {{ scan_form.address(size=20) }}
            {{ scan_form.startPort.label }} {{ scan_form.startPort(size=20) }}
            {{ scan_form.endPort.label }} {{ scan_form.endPort(size=20) }}
            <input type="submit" name="submit" value="TCP Scan">
            <input type="submit" name="submit" value="UDP Scan">
        </form>
    </div>

    <div id="io" class="tab" style="display:none">

        <label for="sqlForm">MySQL</label>
        <form id="sqlForm" method="POST" action="/">
            {{ sql_form.csrf_token }}
            {{ sql_form.host.label }} {{ sql_form.host(size=10) }}
            {{ sql_form.user.label }} {{ sql_form.user(size=10) }}
            {{ sql_form.pw.label }} {{ sql_form.pw(size=10) }}
            {{ sql_form.db.label }} {{ sql_form.db(size=10) }}
            <input type="submit" name="submit" value="Import">
            <input type="submit" name="submit" value="Export">
    </form>
    </div>
        <!-- tabs content stop -->

</div>
<!-- toolbar end -->

<!-- result table start -->

{% if keyLoaded %}
<b>ENCRYPTION KEY IS LOADED</b>
{%endif %}
<input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Filter by IP...">
    {{table}}

<!-- result table stop -->

</body>
</html>
